body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

.bg-navy {
  background-color: #1a237e !important;
}

.btn {
  color: white;
  background-color: #6a0392 !important;
  border-color: #6a0392 !important;
}

.btn:hover {
  color: #6a0392;
  background-color: white !important;
  border-color: #6a0392 !important;
}

.text-navy {
  color: #6a0392 !important;
}

.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: 700;
  color: #6a0392 !important;
}

.form-control:focus {
  border-color: #6a0392;
  box-shadow: 0 0 0 0.25rem #6a03928e;
}

.text-navy {
    color: #6a0392 !important;
}

.text-navy:hover {
    color: #6000df !important;
}