body {
  background-color: #f6f6f8;
}

.content {
  margin-left: 260px;
}
.icon-box {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(15, 73, 189, 0.1);
  color: #0f49bd;
}
