:root {
  --bs-primary: #6a0392;
  --bs-primary-rgb: 15, 73, 189;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.btn {
  color: white;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn:hover {
  background-color: white;
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.login-wrapper {
  min-height: 100vh;
}

.login-sidebar {
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #6a0392 0%, #6a039263 100%);
}

.sidebar-content {
  position: relative;
  z-index: 2;
}

.form-control:focus {
  border-color: #6a0392;
  box-shadow: 0 0 0 0.25rem #6a03928e;
}

.social-btn {
  border: 1px solid #dee2e6;
  transition: background-color 0.2s;
}

.social-btn:hover {
  background-color: #f8f9fa;
}

.voltar-inicio {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.voltar-inicio i {
  transition: transform 0.3s ease;
}

.voltar-inicio:hover {
  color: #6a0392; /* sua cor principal */
}

.voltar-inicio:hover i {
  transform: translateX(-4px);
}

.text-navy {
    color: #6a0392 !important;
}

.text-navy:hover {
    color: #6000df !important;
}
